.form {
    width: 450px;
    margin: 10rem auto 0;
    display: grid;
    row-gap: 1rem;

    .fields {
        display: grid;
        row-gap: 2rem;
    }

    .full-width {
        width: 100%;
    }

    .invalid {
        color: red;
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
    }
}
