# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database

# PostgreSQL
POSTGRES_URL=localhost
POSTGRES_PRISMA_URL=localhost
POSTGRES_URL_NON_POOLING=localhost
POSTGRES_HOST=localhost
POSTGRES_DATABASE=yourdbname
POSTGRES_PORT=5432
POSTGRES_USER=yourusername
POSTGRES_PASSWORD=yourpassword

# PG Admin
PGADMIN_DEFAULT_PASSWORD=yourdefaultpassword

# `openssl rand -base64 32`
AUTH_SECRET='qQL2xyHC4JILq5FlvAa/5BiutIy5IFcg8LYrE3GnmoQ='
AUTH_URL=http://localhost:3000/api/auth

# Superuser

SUPERUSER_EMAIL=user@user.com
SUPERUSER_PHONE=+13923456789,
SUPERUSER_PASSWORD=0987654

SUPERUSER_PROFILE_FIRST_NAME=Sam
SUPERUSER_PROFILE_LAST_NAME=Aghasadeh

# this was inserted by `prisma init`:
# environment variables declared in this file are automatically made available to prisma.
# see the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# prisma supports the native connection string format for postgresql, mysql, sqlite, sql server, mongodb and cockroachdb.
# see the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL='postgresql://yourusername:yourpassword@localhost:5432/yourdbname?schema=public'

# PDF backend
PDF_BACKEND_URL=http://localhost:8080