.logo-wrapper {
    width: min-content;
    display: grid;
    grid-template-columns: repeat(2, min-content);
    align-items: center;
    justify-content: center;

    .icon {
        height: 4ch;
        width: 4ch;
    }
}
